#Heading {
    margin-top: 1.5em;
    font-size: 1.5em;
    font-family: 'Arial', Times, serif;
    font-weight:bold;
    align-items: flex-start;
}.Container {
    display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      margin-left: 80px;
      margin-top: 50px;
      width: 50em;
      /* height: 25.1em; */
      background-color: rgb(238, 241, 240);
      border-radius: 15px;
      box-shadow: 10px 10px 10px grey;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
}
div{
    margin: 1em;
}
.sno{
    width: 3em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16.5px;
    text-align: center;
  }
  .uname{
    width: 8em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16.5px;
    text-align: center;
  }
  .mail{
    width: 12em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16.5px;
    text-align: center;
  }
  .dob{
    width: 6em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16.5px;
    text-align: center;
  }
  .role{
    width: 5em;
     padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16.5px;
    text-align: center;
  }
  .row1:hover{
    background-color: #D2D5D4;
  }
  .info{
    
      align-items: center;
      align-content: center;
      margin-left: -12em;
      /* margin-top: 50px; */
      width: 30em;
      /* height: 25.1em; */
      /* background-color: red; */
  }
a {
    text-decoration: none;
    color: blue;
}
a, a:visited {
    color: blue;
}